<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
				<key>dateExpires</key>
				<string>2021/12/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HappyDNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PLMediaStreamingKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PLPlayerKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>alipay_kit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audioplayers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>city_pickers.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qntools.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>svgaplayer_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9F8619A20AA802E2107AF6036FC419F783CFD6A9</string>
						<key>dateExpires</key>
						<string>2021/12/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PT86J8Z5YA</string>
						<key>name</key>
						<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PT86J8Z5YA.com.chengzibaobao.iosclient</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>PT86J8Z5YA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>44557295-e74d-4bea-b62c-56454742e9d3</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.chengzibaobao.iosclient</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PT86J8Z5YA</string>
				<key>name</key>
				<string>Jiaxing Hongcheng Intelligent Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
